@font-face {
    font-family: 'Alliance';
    src: local('Alliance No 1 Extra Bold'), local('Alliance-No-1-Extra-Bold'),
        url('/fonts/AllianceNo1-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
  }

@font-face {
    font-family: 'Futura BT';
    src: local('futura medium bt'), local('futura medium bt'),
    url('/fonts/futura medium bt.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
